		h1{
			font-size: 3em;
			font-weight: bold;
		}
		h2{
			font-size: 2em;
		}
		h5{
			font-size: 1.1em;
		}
		/*大塊div彼此距離*/
		.photo,.name,.birthAdd,.phoneEmailWeb,.aboutMe,.education,.experience,.skills,.achievement{
			margin: 2em 0;
		}
		/*左邊*/
		#logo{
			cursor: pointer;
			padding-left: 1em;
		}

		.photo img{
			border-radius: 50%;
			border: 8px solid black;
		}
		.wrap{
			width: 100%;
			width: 1000px;
			height: 1414px;
			margin: 0 auto;
			position: relative;
			/*list-style-image: url("../img/flowerBg.jpg");*/
			background-image: url("../img/flowerBg.jpg");
			font-family: 'Noto Sans TC', sans-serif;
			/*background:url("..img/flowerBg.jpg") no-repeat;*/
		}
		.wrapInside{
			top: 2em;
			position: relative;
			width: 900px;
			height: 1315px;
			background: white;
			padding: 1em;
			margin: 0 auto;
		}
		.left{
			position: absolute;
			width: 20%;
		}
		.leftTitle{
			float: left;
			width: 37%;
			margin-bottom: 0.5em;
			font-weight: bold;
		}
		.leftContent{
			float: left;
			width: 53%;
			margin-bottom: 0.5em;
			padding-left:8%;
		}
		.phone{
			margin-bottom: 0.5em;
		}
		/*右邊*/
		div.right:before{
			content: "";
			position: absolute;
			width: 5px;
			height: 100%;
			border-left: 5px solid black;
			top:2em;
			bottom: 0;
			left: -70px;
		}

		div .aboutMe:before,div .education:before,div .experience:before,div .skills:before{
			content: "";
			position: absolute;
			width: 20px;
			height:20px;
			border-radius: 50%;
			background: #E80C7A;
			left: -77.5px;
			text-align: center;
		}
		/*div .education:before{
			content: "";
			position: absolute;
			width: 20px;
			height:20px;
			border-radius: 50%;
			background: #E80C7A;
			left: -77.5px;
			text-align: center;
		}
		div .experience:before{
			content: "";
			position: absolute;
			width: 20px;
			height:20px;
			border-radius: 50%;
			background: #E80C7A;
			left: -77.5px;
			text-align: center;
		}*/
		.experience{
			position: relative;
		}
		.experience li {
			padding-bottom: 10px;
		}
		.education li{
			padding-bottom: 10px;
		}
		.right{
			position: absolute;
			left: 30%;
			width: 67%;
		}
		.year{
			float:left;
			width: 8%;
			font-weight: bold;

		}
		.school{
			float: left;
			padding-left:2%;
			width: 90%;
		}
		.school h5{
			font-weight: bold;
		}
		li:after{
			content: "";
			clear: both;
			display: block;
		}
		/*SKILL*/
		/*div .skills:before{
			content: "";
			position: absolute;
			width: 20px;
			height:20px;
			border-radius: 50%;
			background: #E80C7A;
			left: -77.5px;
			text-align: center;
		}*/
		.skills{
			position: relative;
		}
		.skills li {
			float: left;
			width: 50%;
			padding-bottom: 0.5em;
		}
		.skillsTitle{
			float: left;
			width: 40%;
			font-weight: bold;
			margin-right: 3%;
		}
		.score div{
			float: left;
			width: 1em;
			height:1em;
			margin-right: 0.5em;
			border-radius: 50%;
			border: 1px solid black;
			cursor: pointer;
		}
		/*星等評分*/
		div.star.hover{
			background: black;
		}
		div.star.rated{
			background-position: 0 20px;
		}
		/*achievement*/
		div .achievement:after{
			content: "";
			position: absolute;
			width: 20px;
			height:20px;
			border-radius: 50%;
			background: #E80C7A;
			left: -77.5px;
			bottom: -4em;
			text-align: center;
		}
		.achievement{
			position: relative;
		}
		.toolbarAch{
			position: absolute;
			height: 50px;
			width: 35px;
			left: -50px;
			top: 30px;
			padding: 5px 0;
			border: 3px solid #E80C7A;
			border-radius:10px;
			text-align: center;
			color: #E80C7A;
			display: none;
			cursor: pointer;
		}
		.toolbarSk{
			position: absolute;
			height: 50px;
			width: 35px;
			left: -50px;
			top: 30px;
			padding: 5px 0;
			border: 3px solid #E80C7A;
			border-radius:10px;
			text-align: center;
			color: #E80C7A;
			display: none;
			cursor: pointer;
		}
		.toolbarExp{
			position: absolute;
			height: 50px;
			width: 35px;
			left: -50px;
			top: 30px;
			padding: 5px 0;
			border: 3px solid #E80C7A;
			border-radius:10px;
			text-align: center;
			color: #E80C7A;
			display: none;
			cursor: pointer;
		}
		.achievement li{
			float: left;
			width: 50%;
			padding-bottom: 10px;
		}
		.achTitle {
			font-weight: bold;
		}
		.clearfix{
			clear: both;
		}
		.fontChinese{
			font-family: 'Noto Sans TC', sans-serif;
		}
		.lineHeight{
			line-height: 1.2em;
		}
@media print {
.wrap {
    -webkit-print-color-adjust: exact; 
}
 .no-print, .no-print *
    {
        display: none !important;
    }
}